.progress {
  compose: progress;
  width: 900px;
  height: 160px;
  margin: auto;
  padding: 10px 0px;
}

.progress li {
  list-style-type: none;
  position: relative;
  float: left;
  width: 20%;
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #E5E5E5;
}

.progress li:before {
  content: url('../../assets/progressbar/unavailable.svg');
  display: block;
}

.progress li:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #DFDFDF;
  left: -50%;
  top: 58%;
  z-index: -1;
}

.progress li:first-child:after {
  content: none;
}

.available {
  compose: progress available;
}

.progress li.available {
  color: #8B90E3;
}

.progress li.available:after {
  background-color: #8B90E3;
  height: 3px;
  top: 55.5%;
}
.progress li.available:before {
  content: url('../../assets/progressbar/available.svg');
}

.star1 {
  compose: progress star1;
}

.progress li.star1 {
  color: #8B90E3;
}

.progress li.star1:after {
  background-color: #8B90E3;
  height: 3px;
  top: 55.5%;
}
.progress li.star1:before {
  content: url('../../assets/progressbar/available1.svg');
}

.star2 {
  compose: progress star2;
}

.progress li.star2 {
  color: #8B90E3;
}

.progress li.star2:after {
  background-color: #8B90E3;
  height: 3px;
  top: 55.5%;
}
.progress li.star2:before {
  content: url('../../assets/progressbar/available2.svg');
}

.star3 {
  compose: progress star3;
}

.progress li.star3 {
  color: #8B90E3;
}

.progress li.star3:after {
  background-color: #8B90E3;
  height: 3px;
  top: 55.5%;
}
.progress li.star3:before {
  content: url('../../assets/progressbar/available3.svg');
}