.nav-link { color: #6254D2 !important; font-family: 'Kanit', sans-serif;}
.nav-link:hover { border-bottom: 3px solid #7BD5F5; background-color: #EEEEEE;}
.nav-link.active { border-bottom: 3px solid #55CFE6; }
nav.navbar { padding-top: 0px; padding-bottom: 0px; }
