ul {
    list-style-type:none;
}

p.large {
    font-size: 30px;
}

div.cc {
    margin: auto;
    width: 50%;
}

img.left {
    margin-left: 20px;
}

button.btn-primary {
    font-family: 'Kanit',sans-serif;
    font-size: medium;
    background-color: #A29BFE;
    border-color: #A29BFE;
    color: white;
  }