.composer {
    width: 100%;
    display: inline-block;
    overflow: hidden;
}

.composerQuiz {
    width: 100%;
    display: inline-block;
    overflow: hidden;
    margin-left: 40px;
    margin-top: -20px;
}

.gates img {
    height: auto; 
    width: auto; 
    max-width: 5%; 
    max-height: 5%;
    margin-left: 10px;
}

.gatesQuiz img {
    height: auto; 
    width: auto; 
    max-width: 5%; 
    max-height: 5%;
    margin-left: 10px;
}

.rows img {
    height: auto; 
    width: auto; 
    max-width: 5%; 
    max-height: 5%;
}
.rowsQuiz img {
    max-width: 6%; 
    max-height: 6%;
    display: inline;
}

.rows img#middle:hover {
    border: solid gold;
}

.rowsQuiz img#middle:hover {
    border: solid gold;
}

.rowsQuiz {
    padding-left: 245px;
    height:130%;
    width:130%;
}

#first {
    margin-left: 20px;
}

button.btn-primary {
    font-family: 'Kanit',sans-serif;
    font-size: medium;
    background-color: #A29BFE;
    border-color: #A29BFE;
    color: white;
  }

button.btn-primary:disabled {
    font-family: 'Kanit',sans-serif;
    font-size: medium;
    background-color: #8B90E3;
    border-color: #A29BFE;
    color: white;
}

#buttonPanel {
    margin-left: 20px;
    position: inline-block;   
    float: left; 
}

button.btn-shot:disabled {
    font-family: 'Kanit',sans-serif;
    font-size: medium;
    background-color: white;
    border-color: #A29BFE;
    color: #8B90E3;
}

.radioPanel {
    float: left;
    padding-top: 10px;
    padding-left: 20px;
    position: inline-block;
}

.radioPanel label {
    font-family: 'Kanit',sans-serif;
    font-size: medium;
    padding-left: 10px;
}

.shot {
    color: #8B90E3;
    padding-right: 10px;
}

div.buttonPanel {
    width: 100%;
      float:left;
      margin-top: 16px;
      margin-bottom: 16px;
}


div.buttonPanelQuiz {
    width: 100%;
      margin-left: 245px;
      margin-top: 16px;
      margin-bottom: 16px;
}

