.composer {
    width: 100%;
    display: inline-block;
    overflow: hidden;
}

.composerQuiz {
    width: 100%;
    display: inline-block;
    overflow: hidden;
    margin-left: 40px;
    margin-top: -20px;
}

.gates img {
    height: auto; 
    width: auto; 
    max-width: 6.3%; 
    max-height: 6.3%;
    margin-left: 10px;
}

.gatesQuiz img {
    height: auto; 
    width: auto; 
    max-width: 5%; 
    max-height: 5%;
    margin-left: 10px;
}

.rows img {
    height: 15vh; 
    width: auto; 
    max-width: 6.3%; 
    max-height: 6.3%;
    display: inline;
}

.rows img:hover {
    border: solid gold;
}

.rowsQuiz img {
    height: 15vh; 
    width: auto; 
    max-width: 6%; 
    max-height: 6%;
    display: inline;
}

.rowsQuiz img:hover {
    border: solid gold;
}

#first {
    margin-left: 20px;
}

button.btn-primary {
    font-family: 'Kanit',sans-serif;
    font-size: medium;
    background-color: #A29BFE;
    border-color: #A29BFE;
    color: white;
  }

button.btn-primary:disabled {
    font-family: 'Kanit',sans-serif;
    font-size: medium;
    background-color: #8B90E3;
    border-color: #A29BFE;
    color: white;
}

#buttonPanel {
    margin-left: 20px;
    position: inline-block;   
    float: left; 
}

div.buttonPanel {
    width: 100%;
      float:left;
      margin-top: 16px;
      margin-bottom: 16px;
}

