  .Menu {
    float: left;
    width: 25vw;
    height: calc(100vh - 80px);
    transition: width 0.5s;
    font-family: 'Kanit',sans-serif;
    font-size: 50px;
    color: white;
    background-color: #8B90E3;
    overflow-y: scroll;
    object-fit: contain;
    resize: both;
    /* object-fit: contain; */
  }

  #wrapper2 {
    height: 0vh;
    transition: height 0.5s;
  }

  p.detail {
    text-align: left;
    font-family: 'Kanit',sans-serif;
    font-size: 15px;
    color: black;
    display: block;
  }

  .buttonPanel2 {
    display: flex;
    margin-top: 20px;
    margin-bottom: 5px;
    align-items: center;
    justify-content: center;
  }

  .sampleCircuit {
    width: 250px;
    height: auto;
    margin-bottom: 10px;
  }

  .subImage {
    width: auto;
    height: 100px;
    margin-left: 20px;
    margin-bottom: 10px;
  }

  .comingsoon {
    display: inline-block;
    color: #6254D2;
    font-size: 25px;
    font-family: 'Kanit',sans-serif;
  }

  @keyframes slide-right {
    from {  transform: scale(1,1) translateX(0%); }
    to { transform: scale(2,1) translateX(50%); }
  }

  @keyframes slide-left {
    from {  transform: scale(2,1) translateX(50%); }
    to { transform: scale(1,1) translateX(0%); }
  }
