  .Menu {
    float: left;
    width: 24vw;
    min-height: 90vh;
    margin-bottom: 0px; 
    display: flex;
    flex-direction: column;
    font-family: 'Kanit',sans-serif;
    font-size: 50px;
    color: white;
    background-color: #8B90E3;
    resize: both;
    object-fit: contain;
  }
